.about-us {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .about-us .div {
    background-color: #ffffff;
    height: 2946px;
    position: relative;
    width: 1512px;
  }
  
  .about-us .overlap {
    background-color: #f5fcff;
    height: 323px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1512px;
  }
  
  .about-us .overlap-2 {
    height: 77px;
    left: 574px;
    position: absolute;
    top: 27px;
    width: 859px;
  }
  
  .about-us .group-2 {
    height: 68px;
    left: 0;
    position: absolute;
    top: 9px;
    width: 808px;
  }
  
  .about-us .text-wrapper-2 {
    border:none;
    background-color: transparent;
    color: #04364a;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 22.5px;
    font-weight: 500;
    height: 44px;
    left: 0;
    letter-spacing: 1.12px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 135px;
  }
  
  .about-us .text-wrapper-3 {
    border:none;
    background-color: transparent;
    color: #04364a;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 22.5px;
    font-weight: 500;
    height: 44px;
    left: 190px;
    letter-spacing: 1.12px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 200px;
  }
  
  .about-us .text-wrapper-4 {
    border:none;
    background-color: transparent;
    color: #04364a;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 22.5px;
    font-weight: 500;
    height: 44px;
    left: 430px;
    letter-spacing: 1.12px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 135px;
  }
  
  .about-us .line {
    height: 8px;
    left: 232px;
    position: absolute;
    top: 64px;
    width: 106px;
  }
  
  .about-us .group-3 {
    height: 44px;
    left: 634px;
    position: absolute;
    top: 0;
    width: 168px;
  }
  
  .about-us .text-wrapper-5 {
    background-color: #73D2F8;
    color: #ffffff;
    border-radius: 20px;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    height: 44px;
    left: 26px;
    letter-spacing: 1px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -1px;
    width: 115px;
  }
  
  .about-us .group-4 {
    left: 672px !important;
    position: absolute !important;
    top: 0 !important;
    width: 187px !important;
  }
  
  .about-us .group-instance {
    width: 187px !important;
  }
  
  .about-us .group-4-instance {
    left: 29px !important;
    width: 128px !important;
  }
  
  .about-us .logo-energywise {
    height: 76px;
    left: 98px;
    object-fit: cover;
    position: absolute;
    top: 16px;
    width: 157px;
  }
  
  .about-us .text-wrapper-6 {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 642px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 161px;
    white-space: nowrap;
    width: 229px;
  }
  
  .about-us .p {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 22.5px;
    font-weight: 400;
    height: 50px;
    left: 560px;
    letter-spacing: 1.12px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 217px;
    width: 392px;
  }
  
  .about-us .img {
    height: 191px;
    left: 559px;
    object-fit: cover;
    position: absolute;
    top: 1597px;
    width: 395px;
  }
  
  .about-us .text-wrapper-7 {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 59px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2093px;
    width: 1232px;
  }
  
  .about-us .text-wrapper-8 {
    color: #000000;
    font-family: "Roboto-BoldItalic", Helvetica;
    font-size: 26px;
    font-style: italic;
    font-weight: 700;
    left: 412px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1846px;
    width: 707px;
  }
  
  .about-us .overlap-3 {
    height: 547px;
    left: 59px;
    position: absolute;
    top: 470px;
    width: 1392px;
  }
  
  .about-us .text-wrapper-9 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 22.5px;
    font-weight: 400;
    height: 285px;
    left: 779px;
    letter-spacing: 1.12px;
    line-height: 35px;
    position: absolute;
    text-align: justify;
    top: 5px;
    width: 607px;
  }
  
  .about-us .as-streisand {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 22.5px;
    font-weight: 400;
    height: 285px;
    left: 0;
    letter-spacing: 1.12px;
    line-height: 40px; /* Adjust line-height for spacing */
    position: absolute;
    text-align: justify;
    top: 300px; /* Adjust top for spacing */
    width: 1392px;
  }
  
  
  .about-us .photoshop {
    height: 263px;
    left: 0;
    position: absolute;
    top: 0;
    width: 736px;
  }
  
  .about-us .text-wrapper-10 {
    color: #000000;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 50px;
    font-weight: 500;
    height: 75px;
    left: 838px;
    letter-spacing: 1.25px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 379px;
    width: 120px;
  }
  
  .about-us .fast-forward-to {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 22.5px;
    font-weight: 400;
    height: 383px;
    left: 825px;
    letter-spacing: 1.12px;
    line-height: 35px;
    position: absolute;
    text-align: justify;
    top: 1115px;
    width: 607px;
  }
  
  .about-us .span {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 22.5px;
    font-weight: 400;
    letter-spacing: 1.12px;
    line-height: 35px;
  }
  
  .about-us .text-wrapper-11 {
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
  }
  
  .about-us .text-wrapper-12 {
    color: #000000;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 50px;
    font-weight: 500;
    height: 75px;
    left: 825px;
    letter-spacing: 1.25px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1040px;
    width: 120px;
  }
  
  .about-us .line-2 {
    height: 10px;
    left: 59px;
    position: absolute;
    top: 1537px;
    width: 1373px;
  }
  
  .about-us .ondona {
    height: 290px;
    left: 97px;
    position: absolute;
    top: 2225px;
    width: 290px;
  }
  
  .about-us .ellipse {
    height: 290px;
    left: 436px;
    object-fit: cover;
    position: absolute;
    top: 2224px;
    width: 291px;
  }
  
  .about-us .sepulveda {
    height: 290px;
    left: 1115px;
    position: absolute;
    top: 2225px;
    width: 290px;
  }
  
  .about-us .div-wrapper {
    background-color: #f4fcff;
    height: 108px;
    left: 0;
    position: absolute;
    top: 2838px;
    width: 1512px;
  }
  
  .about-us .text-wrapper-13 {
    color: #04364a;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 22.5px;
    font-weight: 500;
    height: 44px;
    left: 463px;
    letter-spacing: 1.12px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 35px;
    width: 586px;
  }
  
  .about-us .text-wrapper-14 {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 22.5px;
    font-weight: 700;
    height: 52px;
    left: 149px;
    letter-spacing: 1.12px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 2539px;
    width: 150px;
  }
  
  .about-us .co-founder-chief-of {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 22.5px;
    font-weight: 400;
    height: 48px;
    left: 1155px;
    letter-spacing: 1.12px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 2585px;
    width: 227px;
  }
  
  .about-us .co-founder-chief-of-2 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 22.5px;
    font-weight: 400;
    height: 71px;
    left: 806px;
    letter-spacing: 1.12px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 2587px;
    width: 238px;
  }
  
  .about-us .co-founder-chief-of-3 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 22.5px;
    font-weight: 400;
    height: 73px;
    left: 457px;
    letter-spacing: 1.12px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 2588px;
    width: 234px;
  }
  
  .about-us .co-founder-chief {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 22.5px;
    font-weight: 400;
    height: 48px;
    left: 134px;
    letter-spacing: 1.12px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 2591px;
    width: 181px;
  }
  
  .about-us .text-wrapper-15 {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 22.5px;
    font-weight: 700;
    height: 52px;
    left: 1171px;
    letter-spacing: 1.12px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 2533px;
    width: 195px;
  }
  
  .about-us .text-wrapper-16 {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 22.5px;
    font-weight: 700;
    height: 52px;
    left: 845px;
    letter-spacing: 1.12px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 2533px;
    width: 161px;
  }
  
  .about-us .text-wrapper-17 {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 22.5px;
    font-weight: 700;
    height: 52px;
    left: 477px;
    letter-spacing: 1.12px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 2536px;
    width: 194px;
  }
  
  .about-us .initial-logo {
    height: 466px;
    left: 171px;
    object-fit: cover;
    position: absolute;
    top: 1041px;
    width: 466px;
  }
  
  .about-us .mask-group {
    height: 290px;
    left: 769px;
    position: absolute;
    top: 2224px;
    width: 290px;
    
    
  }
  