.container-1 {
  display: relative;
  background-color:#F5FCFF ;
  color: #04364A;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 50px;
  font-weight: 700;
  padding: 80px 0;
  margin: 0 auto;
  line-height: normal;
  text-align: center;
}

.p {
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  height: 50px;
  letter-spacing: 1.12px;
  line-height: 40px;
  text-align: center;
}

.sub-head {
  font-size: 50px;
  font-family: "Roboto-Regular", Helvetica;
}

.sub-text {
  font-family: inherit;
  font-size: 40px;
  font-weight: 500;
  padding-left: 40px;
}

.container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.container-3 {
  padding: 0 50px;
}

.container-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.container-5 {
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.container-6 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 50px 100px;
  text-align: center;
}

.container-7 {
  padding: 40px;
  background-color: #F5FCFF ;
  margin: 0 auto;
  text-align: center;
}


.image-container-1 {
  position: relative;
  width: 95%;
}

.image-container-2 {
  position: relative;
  display: inline-block;
  width: 70%;
  margin: 0 15%;
}

.image-container-4 {
  margin-top: 40px;
  width: 20%; 
}

.img-person {
  width: 60%;
}

.p-container {
  margin: 30px 50px;
}

.paragraph {
  text-align: justify;
  font-size: 20px;
  font-family: "Roboto-Regular", Helvetica;
  padding-top: 20px;
}

 .motto {
  padding: 40px 0;
  font-size: 26;
  font-style: italic;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 700;
  text-align: center;
}

.text, .copyright {
  font-family:"Roboto-Regular", Helvetica;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #04364A;
}

.position {
  font-family:inherit;
  color: #04364A;
}

